.btn {
    border: none;
    border-radius: 40px;
    text-transform: uppercase;
    color: var(--text-color);
    background: var(--main-color);
    box-shadow: -2px -2px 6px var(--room-shadow-color-lightn),
    2px 2px 6px var(--room-shadow-color-dark);

}
.btn:active {
    color: #626161;
    border-radius: 40px;

    box-shadow: inset -2px -2px 6px var(--room-shadow-color-lightn),
    inset 2px 2px 6px var(--room-shadow-color-dark);
}