.Room {
   overflow: hidden;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.left {
    display: flex;
    padding-bottom: 30px;
}

.right {
    position: fixed;
    height: 100%;
    margin-left: 780px;
}

.votesAnalytics-wrapper {

}

.vote-wrapper {

}