.Room {

}

.main {
    display: flex;
    flex-direction: column;
}


.left {
    margin: 0 auto;
}
.right {
    position: relative;
    margin-top: -365px;
    margin-left: 760px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.votesAnalytics-wrapper {

}

.vote-wrapper {

}